In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

Categorical features

In [10]:
df = pd.read_csv('./data/auto-mpg.csv')

In [11]:
df.head()

,mpg,cyl,displ,hp,weight,accel,yr,origin,name,color,size,marker
0,18.0,6,250.0,88,3139,14.5,71,US,ford mustang,red,27.370336,o
1,9.0,8,304.0,193,4732,18.5,70,US,hi 1200d,green,62.199511,o
2,36.1,4,91.0,60,1800,16.4,78,Asia,honda civic cvcc,blue,9.000000,x
3,18.5,6,250.0,98,3525,19.0,77,US,ford granada,red,34.515625,o
4,34.3,4,97.0,78,2188,15.8,80,Europe,audi 4000,blue,13.298178,s

In [12]:
df_origin = pd.get_dummies(df.iloc[:,:8])
df_origin.head()

,mpg,cyl,displ,hp,weight,accel,yr,origin_Asia,origin_Europe,origin_US
0,18.0,6,250.0,88,3139,14.5,71,0,0,1
1,9.0,8,304.0,193,4732,18.5,70,0,0,1
2,36.1,4,91.0,60,1800,16.4,78,1,0,0
3,18.5,6,250.0,98,3525,19.0,77,0,0,1
4,34.3,4,97.0,78,2188,15.8,80,0,1,0

In [13]:
df_origin = df_origin.drop('origin_Asia', axis=1)
df_origin.head()

    mpg  cyl  displ   hp  weight  accel  yr  origin_Europe  origin_US
0  18.0    6  250.0   88    3139   14.5  71              0          1
1   9.0    8  304.0  193    4732   18.5  70              0          1
2  36.1    4   91.0   60    1800   16.4  78              0          0
3  18.5    6  250.0   98    3525   19.0  77              0          1
4  34.3    4   97.0   78    2188   15.8  80              1          0

In [14]:

from sklearn.linear_model import Ridge